# WAP Connection
LP_WAP_ICEBERG_DATABASE=default
LP_WAP_ENDPOINT=
LP_WAP_USERNAME=
LP_WAP_PASSWORD=

# Output
LP_OUTPUT_DIR=data/curves

# Processing
LP_WEEKS_BACK=52
LP_INCLUDE_TEST_MEETINGS=false
LP_DEFAULT_ENV=cprod
LP_DEFAULT_REGION=AMER
